@charset "UTF-8";
.content-col {
  padding: 5% 10%;
  text-align: center;
}

.content-col .logo-cont {
  justify-content: center;
}

.content-col .logo-cont .logo {
  width: 100px;
}

.content-col .illust {
  margin-top: 2%;
  width: 100%;
}

.content-col .notify-btn {
  margin: 3% 2% 6% 2% !important;
  background-color: #4f7df3;
  color: white;
  width: 90%;
  height: 50px;
  border-radius: 25px !important;
}

.content-col .notify-btn:hover {
  background-color: #c2d3ff;
  color: white;
}

.content-col .email-input {
  margin: 3% 2% 1% 2% !important;
  height: 50px;
  border-radius: 25px !important;
  font-size: 20px;
  padding-left: 3%;
}

.content-col p {
  color: #bf1650;
  margin-bottom: 5%;
  font-size: 18px;
}

.content-col p::before {
  display: inline;
  content: "⚠ ";
}

.content-col h1 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 60px;
  font-weight: 400;
  color: #969696;
  margin-bottom: 0;
}

.content-col h1 strong {
  color: #151f29;
}

.content-col h4 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #151f29;
}

.content-col .social-cont {
  margin: 3% auto;
  justify-content: center;
}

.content-col .social-cont .social-icon {
  color: #4f7df3 !important;
  padding: 1%;
  border-radius: 20px;
}

.content-col .social-cont .social-icon:hover {
  background-color: #4f7df3 !important;
  color: white !important;
}

@media screen and (min-width: 789px) {
  .notify-btn {
    position: relative;
    top: 20px;
  }
  .email-input {
    width: 90% !important;
  }
}

@media screen and (max-width: 789px) {
  .email-input {
    width: 90% !important;
  }
}
